<h3>Postar comentário</h3>

<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, "Seu nome:"  %>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :corpo %><br/>
    <%= f.text_area :body, :rows => 10, style: 'width:10px;',style: 'height:400px;' %>
  </p>
  <p>
    <%= f.submit 'Enviar', :class=>"waves-effect waves-light btn" %>
  </p>
<% end %>
