<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :Título %><br />
    <%= f.text_field :title %>
  </p>
<p>
  <%= f.label :Categoria %><br />
  <%= f.text_field :tag_list %>
</p>
  <p>
    <%= f.label :Corpo %><br />
    <%= f.cktext_area :body %>
  </p>
  <p>
    <%= f.submit "Enviar" %>
  </p>


<% end %>
