  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :Título %><br />
    <div  ><%= f.text_field :title %></div>

  </p>
  <p>
    <%= f.label :Categoria %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <div><%= f.label :Corpo %></div><br />
    <div ><%= f.text_area :body , :rows => 10, style: 'width:10px;',style: 'height:400px;' %></div>
  </p>
  <p>
    <%= f.submit "Enviar", :class=>"waves-effect waves-light btn" %>
  </p>
<p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %>
  <%= f.label :image, "Anexar imagem" %><br />
  <%= f.file_field :image %>
</p>
<% end %>
