<div class="container">
<div class="page-header"> 

 <div class="panel-title pull-left">
             <h1><%= @article.title %></h1>
         </div>

    <div class="panel-title pull-right">
        <h2><small>Postado dia <%= @article.created_at.strftime("%d %b, %Y") %> por <%= link_to @article.autor,user_path(@article.autor) %></small></h2>
        </div>

<div class="clearfix"></div>
</div></div>

<div class="panel panel-default">
    <div class="panel-heading">Categorias:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %></div>
    <div class="panel-body"><%= raw @article.body %>
<% if @article.updated_at != @article.created_at %> Ultima edição: <%= @article.updated_at.strftime("%d %b, %Y") %><% end %></div>
</div>

<p><% if user_signed_in? %>
<% if current_user.username == @article.autor or current_user.admin? %>
<%= link_to "Excluir", article_path(@article), method: :delete,data: {confirm: "Realmente deseja excluir esse artigo?"}, :class => 'btn btn-info'%> 
<%= link_to "Editar", edit_article_path(@article),:class => 'btn btn-info' %>
<% end %>
<% end %>
<%= link_to "Retornar ", articles_path,:class => 'btn btn-info' %></p>




<p><h3>        Comentários (<%= @article.comments.size %>)</h3></p>

<%= render partial: 'articles/comment', collection: @article.comments.reverse %>

<p>
<% if user_signed_in? %>
<h3>Postar comentário</h3>
<%= render partial: 'comments/form' %>
<% else %>
É necessário estar logado para comentar
<% end %>
</p>

