<%= link_to "<< Retornar ", articles_path, :class=>"waves-effect waves-light btn" %> <br \><br \><br \>
<p>
<% if user_signed_in? %>
<%= link_to "Excluir", article_path(@article), method: :delete,data: {confirm: "Realmente deseja excluir esse artigo?"}, :class=>"waves-effect waves-light btn"  %>
<%= link_to "Editar", edit_article_path(@article), :class=>"waves-effect waves-light btn"  %>
<% end %>
</p>

</br></br></br>

<h1 class="center"><%= @article.title %></h1>
Criado dia <%= @article.created_at.strftime("%d %b, %Y") %> por <%= link_to @article.autor,user_path(@article.autor) %>


<p>

        Categorias:
        <% @article.tags.each do |tag| %>
          <div class="chip"><fornt size="5"><%= link_to tag.name, tag_path(tag) %></font></div>
        <% end %>

</p>

<div class=" grey lighten-2"><%= raw @article.body %></div></br></br>

 <% if @article.image.exists? %>
    <%= image_tag @article.image.url %>
<% end %>


<h3>Comentários (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>

<p>

</br></br></br>
<% if user_signed_in? %>

            <% if current_user.username == @article.autor or current_user.admin? %>


            <h3>Postar comentário</h3>
            <%= render partial: 'comments/form' %></br></br>
            <% if current_user.username == @article.autor or current_user.admin? %>
<% else %>
É necessário estar logado para comentar
            <% end %>
<% end %>
<% end %>
</p>

