<h1><%= @user.username %></h1>
<p><%= image_tag(@user.avatar.url(:thumb)) %></p>
Nome: <%= @user.name %><br/>
Email:  <%= @user.email %><br/>
Nascimento: <% if @user.date_of_birth != nil %><%= @user.date_of_birth.to_date %> <br/><% end %>

<% @article = Article.all %>


<h3>Artigos criados pelo usuário:</h3>
<% @article.each do |article| %>
<% if @user.username == article.autor %>
    <ul><li><%= link_to article.title, article_path(article),
    class: 'article_title', id: "article_#{article.id}" %>
    </li>
  <% end %></ul>
<% end %>


<p><% if current_user.username == @user.username %><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %><% end %></p>


<p><%= link_to "<< Retornar para todos usuários:", users_path %></p>
