<br /><br /><h2 class="center">Entrar</h2><br /><br />


    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></p>
      </div>

      <div class="field">
        <%= f.label :Senha %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :lembrar_me %>
        </div>
      <% end -%>

      <br />

      <div class="actions">
        <%= f.submit "Log in",:class => 'waves-effect waves-light btn' %>

  </div>
  <% end %>


