<!DOCTYPE html>
<html>
  <head>
    <title>Portal Educa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav>
    <div class="nav-wrapper green">
      <a href="#!" class="brand-logo">PORTAL EDUCA</a>
      <ul class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>

<p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <% if current_user.admin? %>
            <%= link_to 'Admin panel', rails_admin_path, :class => 'waves-effect waves-light btn' %>
            <% end %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'waves-effect waves-light btn' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'waves-effect waves-light btn'  %>
        <% else %>
          <%= link_to "Sing Up", new_user_registration_path, :class => 'waves-effect waves-light btn'  %> |

          <%= link_to "Login", new_user_session_path, :class => 'waves-effect waves-light btn'  %>
        <% end %>
      </p>
    <%= yield %>
<p class="flash"><%= flash.notice %></p>

  </body>
</html>
