<!DOCTYPE html>
<html>
  <head>

    <title>Portal Educa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
   <nav>

          <div class="nav-wrapper light-blue">
            <a href="http://localhost:3000/articles" class="brand-logo" >PORTAL EDUCA</a>
            <ul class="right hide-on-med-and-down">


            <%= link_to 'Sobre', sobres_path, :class => 'waves-effect waves-light btn'%>
            <%= link_to 'Categorias', categoria_path, :class => 'waves-effect waves-light btn'%>
            <% if user_signed_in? %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'waves-effect waves-light btn'  %><% end %>
            <% if user_signed_in? == false %>
              <%= link_to "Cadastrar-se", new_user_registration_path, :class => 'waves-effect waves-light btn'  %> |
              <%= link_to "Entrar", new_user_session_path, :class => 'waves-effect waves-light btn'  %> <% end %>

            <% @users = User.all %>
            <% @users.each do |user| %>

        <% if user_signed_in? %>
          <% if current_user.username == user.username %>
             <li><a><%= link_to user.username, user_path(user.username), :class => 'waves-effect waves-light btn' %> </a></li>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to 'Admin panel', rails_admin_path, :class => 'waves-effect waves-light btn'%>
            <% end %>
        <% else %>

        <% end %>
      <% end %>
        </ul>
        </div>
         </nav>


        <div class="container">
         <p class="navbar-text pull-right">
                  </p>
            <%= yield %>
        <p class="flash"><%= flash.notice %></p>
        </div>

  </body>


</html>
