<%= link_to "Voltar", :back, :class=>"waves-effect waves-light btn" %><br/><br/>

<h2 class="center">Editar usuário  (<%= @user.username %>)</h2><br/><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :avatar %>
        </div>
    </div>


    <div><%= f.label :Nome %><br />
        <%= f.text_field :name, autofocus: true %></div>


    <div><%= f.label :Data_de_nascimento %><br />
   <%= f.text_field :date_of_birth, :class=>"datepicker" %></input></div>

    <script type="text/javascript">

     $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });


    </script>

  <p><%= f.label :Nome_de_usuário %><br />
    <%= f.text_field :username %></p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :senha %> <i>(Deixe em branco caso não queira mudar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres no mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirme_a_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Precisamos da sua senha para fazermos as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class=>"waves-effect waves-light btn"  %>
  </div>
<% end %></br></br>

<h3 class="center">Excluir conta</h3></br></br>

<p class="center"><font size="2">Infeliz?</font> </p></br>
<div class="center"><%= button_to "excluir conta", registration_path(resource_name), data: { confirm: "Tem certeza? Essa ação não pode ser desfeita" }, method: :delete, :class=>"waves-effect waves-light btn" %></div>

</br></br>


